body{
  font-family: helvetica, sans-serif;
  text-align: center;

}

h1 {
  font-size: 70 px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

nav {
  font-size: 18px;
  color: white;
}

.break h3{
  background-image: url("./resources/images/the-flatiron-building.png");
  color: white;
  height: auto;
}

#home {
  background-image: url("./resources/images/the-flatiron-building.png");
  height: auto;
}

.footer p, nav {
  font-size: 11px,
  background-color: dimgray;
  color: white;
  text-align: left;
}
